.button {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 50px;
    justify-content: center;
    align-items: center;

    font-size: 30px;

    margin-top: 20px;

    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;
}

.icon-button #icon {
    flex: 30%;
}
.icon-button #text {
    flex: 70%;
}