.card-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #241715;
    border-radius: 10px;
    background-color: #D9B8C4;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex: 10%;

}

.card-button {
    border: none;
    border-bottom: 3px solid #241715;
    color: #241715;
    text-transform: none;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.card-button:hover {
    color: #463436;
}

.card-button:active {
    color: #5f4d4f;
}

.right-border-button {
    border-right: 3px solid #241715;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    color: #241715;
    flex:90%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.column {
    display: flex;
    flex-direction: column;
}

.card-field {
    align-items: center;
}

.card-field #icon {
    flex: 15%;
}

.card-field #body {
    flex: 85%;
}

#icon {
    width: 100%;
    height: 100%;
}

.h2 {
    font-size: 25px;
}

.subtitle {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.658);
    font-weight: bold;
}

.value {
    color: black;
    font-size: 20px;
}

.color-box {
    height: auto;
    width: 70%;

    border: 2px solid black;
    border-radius: 2px;
}

.link {
    width: inherit;
    text-decoration: none;
    height: 100%;
}